* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #333333;
    color: #ffffff;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f4b400;
}


.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
}

.main1 {
    max-width: 600px;
}

.hello {
    color: #f4b400;
    font-weight: 600;
    font-size: 16px;
}

.main1 h1 {
    font-size: 40px;
    margin: 15px 0;
    line-height: 1.3;
}

.main1 h1 span {
    color: #f4b400;
}

.main1 p {
    font-size: 14px;
    color: #cfcfcf;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 15px;
}



.button1{
    background-color: #6c63ff;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;

}

.button2 {
    background-color: #f4b400;
    color: #000;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}


.img {
    width: 380px;
    border-radius: 10px;
}